<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394212424281-tgchkskdqff4r611ecfnp28628m6gt4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394212424281-tgchkskdqff4r611ecfnp28628m6gt4m</string>
	<key>API_KEY</key>
	<string>AIzaSyDsAS5cSmHk7rx8CiNr7v69OvAKK-AVrz4</string>
	<key>GCM_SENDER_ID</key>
	<string>394212424281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brycecallender.mapleDailyTracker</string>
	<key>PROJECT_ID</key>
	<string>mapletracker-85796</string>
	<key>STORAGE_BUCKET</key>
	<string>mapletracker-85796.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394212424281:ios:8cd8c887642dd1cd418f48</string>
</dict>
</plist>